.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-list {
  display: flex;
}

.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.clients-link:hover {
  border: 1px solid var(--secondary-accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .clients-svg {
  fill: var(--secondary-accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-svg {
  fill: #afb1b8;
}
