.features-list-item-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-list-item-child {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.features-icon-thumb {
  background-color: var(--secondary-background-color);
  margin-bottom: 30px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-list {
  display: flex;
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-list-item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}

.features {
  padding-top: 94px;
  padding-bottom: 47px;
}
