:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-accent-color: #ffffff;
  --secondary-accent-color: #2196f3;
  --hero-background-color: #c4c4c4;
  --primary-background-color: #fff;
  --secondary-background-color: #f5f4fa;
}
